@using AAPS.Application.Abstractions.Services
@using AAPS.Application.Common.Paging
@using AAPS.Application.DTO
@using AAPS.Web.Components.Pages.Files
@using MudBlazor.Extensions
@using System.Reflection
@using AAPS.Application.Common.Attributes
@using AAPS.Application.Common.Extensions
@inject IProviderContactService ContactService
@inject IServiceTypeService ServiceTypeService
@inject IServiceProvider ServiceProvider
@inject ISnackbar Snackbar
@inject IJSRuntime JS
@inject IDialogService DialogService

<div style="min-height: 460px;">
<MudTabs Elevation="0" Rounded="true" ApplyEffectsToContainer="true" TabPanelsClass="pa-4">

    @* Tab 1: Basic Information *@
    <MudTabPanel Text="General Info" Icon="@Icons.Material.Filled.Person">
        <MudGrid>
            @if (IsVisible(nameof(Model.Id)))
            {
                <MudItem xs="12" sm="6">
                    <MudTextField @bind-Value="Model.Id"
                                  Label="Provider ID"
                                  ReadOnly="@IsLocked(nameof(Model.Id))"
                                  Variant="@(IsLocked(nameof(Model.Id)) ? Variant.Filled : Variant.Outlined)" />
                </MudItem>
            }

            @if (IsVisible(nameof(Model.FirstName)))
            {
                <MudItem xs="12" sm="6">
                    <MudTextField @bind-Value="Model.FirstName"
                                  Label="First Name"
                                  Required />
                </MudItem>
            }

            <MudItem xs="12" sm="6">
                <MudTextField @bind-Value="Model.LastName"
                              Label="Last Name"
                              Validation="@(Validator)"
                              For="@(() => Model.LastName)"
                              Required />
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudDatePicker @bind-Date="Model.Birthdate" Label="Date of Birth" Clearable="true" />
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudTextField @bind-Value="Model.Ssn"
                              Label="SSN"
                              Variant="Variant.Text"
                              Mask="@(new PatternMask("000-00-0000"))"
                              Validation="@Validator"
                              For="@(() => Model.Ssn)"
                              Immediate="true"
                              Clearable="true"
                              Margin="Margin.None"
                              Required />
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudTextField @bind-Value="Model.TaxId" Label="Tax ID"
                              Validation="@(Validator)" For="@(() => Model.TaxId)" />
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudSelect @bind-Value="Model.ServiceType" Label="Service Type" AnchorOrigin="Origin.BottomCenter" Clearable="true">
                    @foreach (var st in _serviceTypes)
                    {
                        <MudSelectItem Value="@st">@st</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudTextField @bind-Value="Model.CorporationName" Label="Corporation Name" />
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudSelect @bind-Value="Model.IsActive" T="bool?" Label="Status" AnchorOrigin="Origin.BottomCenter">
                    <MudSelectItem T="bool?" Value="true">Active</MudSelectItem>
                    <MudSelectItem T="bool?" Value="false">Inactive</MudSelectItem>
                </MudSelect>
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudTextField @bind-Value="Model.NpiNumber" Label="NPI Number" MaxLength="10" />
            </MudItem>
        </MudGrid>
    </MudTabPanel>

    @* Tab 2: Contact & Address *@
    <MudTabPanel Text="Contact" Icon="@Icons.Material.Filled.ContactPhone">
        <MudGrid>
            <MudItem xs="12" sm="6">
                <MudTextField @bind-Value="Model.Email" Label="Email"
                              Validation="@(Validator)" For="@(() => Model.Email)" />
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudMask @bind-Value="Model.Phone" Label="Phone" Mask="@(new PatternMask("(000) 000-0000"))" />
            </MudItem>
            <MudItem xs="12">
                <MudTextField @bind-Value="Model.Address" Label="Address" />
            </MudItem>
            <MudItem xs="12" sm="4">
                <MudTextField @bind-Value="Model.City" Label="City" />
            </MudItem>
            <MudItem xs="12" sm="4">
                <MudTextField @bind-Value="Model.State" Label="State" MaxLength="2" />
            </MudItem>
            <MudItem xs="12" sm="4">
                <MudTextField @bind-Value="Model.Zipcode" Label="Zip" />
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudTextField @bind-Value="Model.DirectDepositInfo" Label="Direct Deposit Info"
                              HelperText="Routing# / Account#" />
            </MudItem>
        </MudGrid>
    </MudTabPanel>

    @* Tab 3: Compliance & Dates *@
    <MudTabPanel Text="Compliance" Icon="@Icons.Material.Filled.VerifiedUser">
        <MudGrid>
            <MudItem xs="12" sm="6">
                <MudTextField @bind-Value="Model.License1" Label="License 1" />
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudDatePicker @bind-Date="Model.License1Expiration" Label="License 1 Exp"
                               Clearable="true"
                               Validation="@(Validator)" For="@(() => Model.License1Expiration)" />
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudTextField @bind-Value="Model.License2" Label="License 2" />
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudDatePicker @bind-Date="Model.License2Expiration" Label="License 2 Exp" Clearable="true" />
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudDatePicker @bind-Date="Model.LiabilityInsuranceDate" Label="Liability Insurance" Clearable="true" />
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudDatePicker @bind-Date="Model.MedicalDate" Label="Medical" Clearable="true" />
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudDatePicker @bind-Date="Model.W9Date" Label="W9" Clearable="true" />
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudDatePicker @bind-Date="Model.DirectDepositDate" Label="Direct Deposit" Clearable="true" />
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudDatePicker @bind-Date="Model.ContractDate" Label="Contract" Clearable="true" />
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudDatePicker @bind-Date="Model.PhotoIdDate" Label="Photo ID" Clearable="true" />
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudDatePicker @bind-Date="Model.ResumeDate" Label="Resume" Clearable="true" />
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudDatePicker @bind-Date="Model.HrBundleDate" Label="HR Bundle" Clearable="true" />
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudDatePicker @bind-Date="Model.ProofOfCorpDate" Label="Proof of Corp" Clearable="true" />
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudDatePicker @bind-Date="Model.PoliciesDate" Label="Policies" Clearable="true" />
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudDatePicker @bind-Date="Model.MedicaidDate" Label="Medicaid" Clearable="true" />
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudDatePicker @bind-Date="Model.SexualHarassmentTrainingDate" Label="Sexual Harassment Training" Clearable="true" />
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudDatePicker @bind-Date="Model.BlExtDate" Label="Bilingual Extension" Clearable="true" />
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudTextField @bind-Value="Model.Languages" Label="Languages" />
            </MudItem>
            <MudItem xs="12">
                <MudCheckBox @bind-Value="Model.HasPets" Label="Has PETS?" Color="Color.Primary" />
            </MudItem>
        </MudGrid>
    </MudTabPanel>

    @* Tab 4: Provider Contact History *@
    <MudTabPanel Text="Contact Logs" Icon="@Icons.Material.Filled.History">
        <div class="pa-4">
            <MudTable Items="@contacts" Dense="true" Hover="true" Elevation="0" Context="contact">
                <ToolBarContent>
                    <MudText Typo="Typo.subtitle1">Communication Logs</MudText>
                    <MudSpacer />
                    <MudButton OnClick="AddContactRow" StartIcon="@Icons.Material.Filled.Add"
                               Color="Color.Primary" Size="Size.Small" Variant="Variant.Outlined">
                        Add Log
                    </MudButton>
                </ToolBarContent>
                <HeaderContent>
                    <MudTh>Date</MudTh>
                    <MudTh>Notes</MudTh>
                    <MudTh Style="width:50px"></MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Date">@contact.ContactDate?.ToString("MM/dd/yyyy")</MudTd>
                    <MudTd DataLabel="Notes">
                        @* Inline Edit for Notes *@
                        <MudTextField @bind-Value="contact.Notes" Margin="Margin.Dense" />
                    </MudTd>
                    <MudTd>
                        <MudIconButton Icon="@Icons.Material.Filled.Delete" Size="Size.Small"
                                       Color="Color.Error" OnClick="@(() => contacts.Remove(contact))" />
                    </MudTd>
                </RowTemplate>
            </MudTable>
        </div>
    </MudTabPanel>

    @* Tab 5: Provider Files *@
    <MudTabPanel Text="Files" Icon="@Icons.Material.Filled.Folder">
        @if (Model.Id == 0)
        {
            <MudAlert Severity="Severity.Info" Class="ma-4">
                Save the provider first before uploading files.
            </MudAlert>
        }
        else
        {
            <MudFileUpload T="IReadOnlyList<IBrowserFile>"
                           FilesChanged="OnFilesUploaded"
                           AppendMultipleFiles="true"
                           Hidden="false"
                           InputClass="file-drop-overlay-input"
                           @ondragenter="@(() => _dragging = true)"
                           @ondragleave="@(() => _dragging = false)"
                           @ondragend="@(() => _dragging = false)"
                           @ondrop="@(() => _dragging = false)">
                <SelectedTemplate></SelectedTemplate>
                <CustomContent Context="fileUpload">

                    @* Toolbar *@
                    <div class="d-flex align-center justify-space-between mb-2">
                        <MudText Typo="Typo.body2" Class="mud-text-secondary">
                            @_files.Count file(s)
                        </MudText>
                        <MudButton Variant="Variant.Outlined"
                                   Color="Color.Primary"
                                   StartIcon="@Icons.Material.Filled.Upload"
                                   Size="Size.Small"
                                   Style="position:relative; z-index:30;"
                                   Disabled="_filesLoading || _uploading"
                                   OnClick="@(async () => await fileUpload.OpenFilePickerAsync())">
                            Browse Files
                        </MudButton>
                    </div>

                    @* File list / drop zone - fixed height, always scrollable *@
                    <div style="height:320px; overflow-y:auto; border:2px dashed @(_dragging ? "#3f51b5" : "var(--mud-palette-divider)"); background:@(_dragging ? "rgba(63,81,181,0.08)" : "transparent"); border-radius:6px; transition:border-color .15s, background-color .15s;">
                        @if (_uploading)
                        {
                            <div class="d-flex flex-column align-center justify-center" style="height:100%;">
                                <MudProgressCircular Indeterminate="true" Color="Color.Primary" Size="Size.Small" />
                                <MudText Typo="Typo.caption" Class="mt-2 mud-text-secondary">Uploading…</MudText>
                            </div>
                        }
                        else if (_filesLoading)
                {
                    <div class="d-flex justify-center pa-4">
                        <MudProgressCircular Indeterminate="true" Color="Color.Primary" Size="Size.Small" />
                    </div>
                }
                else if (_filesError != null)
                {
                    <MudAlert Severity="Severity.Warning">@_filesError</MudAlert>
                }
                else if (_files.Count == 0)
                {
                    <div class="d-flex flex-column align-center justify-center pa-4 mud-text-secondary" style="height:100%;">
                        <MudIcon Icon="@Icons.Material.Filled.CloudUpload" Size="Size.Large" />
                        <MudText Typo="Typo.body2" Class="mt-2">Drag files here, or use Browse</MudText>
                    </div>
                }
                else
                {
                    <MudTable Items="_files" Dense="true" Hover="true" Elevation="0" T="FileExplorerItem">
                        <HeaderContent>
                            <MudTh Style="width:36px; position:sticky; top:0; z-index:1; background:var(--mud-palette-surface);"></MudTh>
                            <MudTh Style="position:sticky; top:0; z-index:1; background:var(--mud-palette-surface);">File Name</MudTh>
                            <MudTh Style="width:160px; position:sticky; top:0; z-index:1; background:var(--mud-palette-surface);">Modified</MudTh>
                            <MudTh Style="width:80px; position:sticky; top:0; z-index:1; background:var(--mud-palette-surface);">Size</MudTh>
                            <MudTh Style="width:130px; position:sticky; top:0; z-index:1; background:var(--mud-palette-surface);"></MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd>
                                <MudIcon Icon="@context.Icon" Size="Size.Small" Color="Color.Default" />
                            </MudTd>
                            <MudTd>@context.Name</MudTd>
                            <MudTd>
                                <MudText Typo="Typo.body2" Class="mud-text-secondary">
                                    @context.LastModified.ToString("MM/dd/yyyy hh:mm tt")
                                </MudText>
                            </MudTd>
                            <MudTd>
                                <MudText Typo="Typo.body2" Class="mud-text-secondary">
                                    @context.SizeDisplay
                                </MudText>
                            </MudTd>
                            <MudTd>
                                <div class="d-flex gap-1" style="position:relative; z-index:30;">
                                    @if (context.IsPreviewable)
                                    {
                                        <MudTooltip Text="Preview">
                                            <MudIconButton Icon="@Icons.Material.Filled.Visibility"
                                                           Size="Size.Small" Color="Color.Info"
                                                           OnClick="@(() => OpenPreview(context))" />
                                        </MudTooltip>
                                        <MudTooltip Text="Open in New Window">
                                            <MudIconButton Icon="@Icons.Material.Filled.OpenInNew"
                                                           Size="Size.Small" Color="Color.Secondary"
                                                           OnClick="@(() => OpenInNewWindow(context))" />
                                        </MudTooltip>
                                    }
                                    <MudTooltip Text="Download">
                                        <MudIconButton Icon="@Icons.Material.Filled.Download"
                                                       Size="Size.Small" Color="Color.Primary"
                                                       OnClick="@(() => DownloadFile(context))" />
                                    </MudTooltip>
                                    <MudTooltip Text="Delete">
                                        <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                                       Size="Size.Small" Color="Color.Error"
                                                       OnClick="@(() => DeleteFile(context))" />
                                    </MudTooltip>
                                </div>
                            </MudTd>
                        </RowTemplate>
                    </MudTable>
                }
                    </div>

                    <MudText Typo="Typo.caption" Class="mud-text-secondary mt-1 d-flex align-center" Style="gap:4px;">
                        <MudIcon Icon="@Icons.Material.Filled.Info" Size="Size.Small" />
                        Files are saved as soon as you add them. No need to click Save.
                    </MudText>

                </CustomContent>
            </MudFileUpload>
        }
    </MudTabPanel>
</MudTabs>
</div>

@code {
    [Parameter] public ProviderDTO Model { get; set; } = default!;

    public List<ProviderContactDTO> contacts = new();
    private List<string> _serviceTypes = new();

    [CascadingParameter] public Func<object, string, Task<IEnumerable<string>>> Validator { get; set; } = default!;

    // Keyed injection for provider-specific file root (C:\AAPS\Provider Profiles)
    private IFileExplorerService FileExplorerService = default!;

    // Provider Files
    private List<FileExplorerItem> _files = new();
    private bool _filesLoading = false;
    private string? _filesError;
    private bool _dragging;
    private bool _uploading;

    // Relative path is just the provider ID - maps to C:\AAPS\Provider Profiles\{id}
    private string ProviderFolderPath => Model.Id.ToString();

    protected override async Task OnInitializedAsync()
    {
        FileExplorerService = ServiceProvider.GetRequiredKeyedService<IFileExplorerService>("ProviderFiles");

        var stResult = await ServiceTypeService.GetPagedAsync(new PagedRequest(PageSize: int.MaxValue));
        _serviceTypes = stResult.Items.Select(s => s.Name ?? "").Where(s => s.Length > 0).OrderBy(s => s).ToList();

        if (Model.Id > 0)
        {
            var result = await ContactService.GetByProviderIdAsync(Model.Id);
            contacts = result.ToList();
            await LoadProviderFiles();
        }
        else
        {
            contacts = new List<ProviderContactDTO>();
        }
    }

    private async Task LoadProviderFiles()
    {
        _filesLoading = true;
        _filesError = null;
        StateHasChanged();
        await Task.Delay(1);

        try
        {
            var result = FileExplorerService.GetContents(ProviderFolderPath);
            _files = result.Items.Where(i => !i.IsFolder).ToList();
        }
        catch (DirectoryNotFoundException)
        {
            // Folder doesn't exist yet - not an error, just no files uploaded yet
            _files = new();
        }
        catch (Exception ex)
        {
            _filesError = $"Could not load files: {ex.Message}";
        }
        finally
        {
            _filesLoading = false;
        }
    }

    private async Task OnFilesUploaded(IReadOnlyList<IBrowserFile> files)
    {
        if (files == null || files.Count == 0) return;

        // Create the provider's folder if it doesn't exist yet
        var folderPath = FileExplorerService.GetAbsolutePath(ProviderFolderPath);
        if (!Directory.Exists(folderPath))
            Directory.CreateDirectory(folderPath);

        const long maxFileSizeBytes = 100 * 1024 * 1024;
        var uploaded = 0;
        var failed = new List<string>();

        _uploading = true;
        StateHasChanged();

        foreach (var file in files)
        {
            try
            {
                // Buffer the browser stream into memory up front. Reading it directly during
                // the save can fail if the file input re-renders mid-upload (the browser loses
                // the file reference), so copy it out while the reference is still valid.
                using var buffer = new MemoryStream();
                await file.OpenReadStream(maxFileSizeBytes).CopyToAsync(buffer);
                buffer.Position = 0;
                await FileExplorerService.SaveUploadedFileAsync(ProviderFolderPath, file.Name, buffer);
                uploaded++;
            }
            catch (Exception)
            {
                failed.Add(file.Name);
            }
        }

        _uploading = false;

        if (uploaded > 0)
            Snackbar.Add($"{uploaded} file(s) uploaded.", Severity.Success);
        foreach (var name in failed)
            Snackbar.Add($"Could not upload {name}. Please try again.", Severity.Error);

        await LoadProviderFiles();
    }

    private async Task OpenPreview(FileExplorerItem item)
    {
        var parameters = new DialogParameters
        {
            { "Item", item },
            { "FileExplorerService", FileExplorerService },
            { "BaseUrl", "/provider-files" }
        };

        var options = new DialogOptions
        {
            MaxWidth = MaxWidth.Large,
            FullWidth = true,
            CloseButton = true
        };

        await DialogService.ShowAsync<FilePreviewDialog>(item.Name, parameters, options);
    }

    private async Task OpenInNewWindow(FileExplorerItem item)
    {
        var url = $"/provider-files/preview?path={Uri.EscapeDataString(item.RelativePath)}";
        await JS.InvokeVoidAsync("open", url, "_blank");
    }

    private async Task DownloadFile(FileExplorerItem item)
    {
        var url = $"/provider-files/download?path={Uri.EscapeDataString(item.RelativePath)}";
        await JS.InvokeVoidAsync("open", url, "_blank");
    }

    private async Task DeleteFile(FileExplorerItem item)
    {
        try
        {
            FileExplorerService.DeleteFile(item.RelativePath);
            Snackbar.Add($"Deleted \"{item.Name}\".", Severity.Success);
            await LoadProviderFiles();
        }
        catch (Exception ex)
        {
            Snackbar.Add($"Delete failed: {ex.Message}", Severity.Error);
        }
    }

    private void AddContactRow()
    {
        contacts.Insert(0, new ProviderContactDTO
        {
            ProviderId = Model.Id,
            ContactDate = DateTime.Now
        });
    }

    private bool IsVisible(string propName)
    {
        if (string.IsNullOrEmpty(propName)) return true;
        var prop = typeof(ProviderDTO).GetProperty(propName);
        return prop?.IsBrowsable() ?? true;
    }
    private bool IsLocked(string propName) =>
        typeof(ProviderDTO).GetProperty(propName)?.IsReadOnly() ?? false;

    public List<ProviderContactDTO> GetUpdatedContacts() => contacts;
}
